body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
}
#background-video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  filter: brightness(50%);
}

.center {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.text {
  font-size: 3vmin;
  display: inline-block;
  color: #fff;
  margin: 0px;
  padding: 0px;
  white-space: nowrap; 
}

#tree {
  width: auto;
  height: 30vmin;
}

#snowman {
  width: auto;
  height: 12vmin;
}

#rickmas {
  width: 40vmin;
  height: auto;
}

#spinningFace {
  width: auto;
  height: 13vmin;
}

#raindeer {
  width: auto;
  height: 20vmin;
} 

#smallFace {
  width: auto;
  height: 12vmin;
}
