body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
}
#background-video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  filter: brightness(50%);
}

.center {
  text-align: center;
  top: 0;
}

.left {
  text-align: left;
  top: 0;
}

.right {
  text-align: right;
  top: 0;
}

.text {
  font-size: 2.5vw;
  display: inline-block;
  color: #fff;
  margin: 0px;
  padding: 0px;
  white-space: nowrap; 
}

#tree {
  width: 9vw;
  height: auto;
}

#snowman {
  width: 3vw;
  height: auto;
}

#rickmas {
  width: 20vw;
  height: auto;
}

#spinning-face {
  width: 5vw;
  height: auto;
}
